:root {
  --primary-color: #36bbd9;
  --text-color: #3e4459;
  --paper-color: #fff;
  --important-color: #c9302c;
  --mute-color: #9b9b9b;
  --lightgrey-bg-color: #f3f4f5;
  --darkgrey-bg-color: #f5f4f4;
}
